.clear{
    clear: both;
}
html{
    font-size:62.5%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}

*{
    margin : 0;
    font-size:1.4rem;
    text-decoration: none;
    list-style: none;
}
.fixed{
    position:fixed;
    top:0;
    left: 0;

}
.fl-3{
    float:left;
    width:33.3333%;
}
.mt-20{
    margin-top: 20px;
}
.color-main-header{
    color:#fff
}
.header{
    background:#d03a3a;
    padding-bottom:3rem
}
.welcome{
    justify-content: space-between;
    padding:0rem !important;
    width:100%;
    box-sizing: border-box
    
}
.welcome-content{
    padding:0 1rem
}
.user{
    padding:0 1rem
}
.login{
    padding:1rem
}
.line{
    height:.1px;
    background:#fff;
    margin:0 auto;
    opacity: .3;
}
.midle-header{
    justify-content: space-between;
    margin-top:2rem !important;
}
.logo{
    width: 20rem;
}
.logo img{
    width:100%
}
.search{
    width:46rem;
    background:#fff ;
    display:flex !important;
    align-items: center;
    border-radius:5px 
}
.input-search{
    flex:1;
    margin:0 1rem;
    background:transparent;
    outline:none;
    border:none
}
.btn-search{
    height:100%;
    border:none;
    width:5rem;
    background: #a90d0d;
    border:1px solid #a90d0d;
    color:#fff
}
/* top bar menu  */
.top-bar-text{
    color:#fff;
    
}
.top-nav{
    background:black
}
.top-bar-menu .menu-item , .top-bar-menu .category-list{
   padding:2rem;
   position: relative;
}
.top-bar-menu .menu-item a{
    color:#fff;
    font-weight: 600;
    font-size:17px;
    transition:all .3s ease-in-out;
 }
 .top-bar-menu .menu-item:hover a{
    color:#d03a3a;
   
 }
.category-list{
    background:#a90d0d ;
    font-size:18px !important;
    color:#fff;
    font-weight: 600;
   
}

.category-list span{
    font-size:18px !important;
}
.icon-bars{
    font-size: 20px;
}
.category-lv1{
    background:#fff;
    position:absolute;
    top:62px;
    left:0px;
    padding:0;
    width:241px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    transform: translateX(-100%) scaleX(.1); 
     opacity: 0;
    transition: all 0.3s ease-in-out ; 
    z-index:-1;
}

.has-mega:hover .category-lv1{
   display: block;
   opacity: 1;
   transform: translateX(0%)  scaleX(1);
   z-index: 10;
}
.category-item-lv1{
    padding:0 !important;
}
.category-item-lv1 a{
    position: relative;
    width:100%;
    display:block;
    padding:15px 14px;
    font-weight: 400 !important;
    color:#333 !important;
    font-size: 14px !important;
}
.category-item-lv1 a::after{
    content:'';
    position:absolute;
    top:-1px;
    right:18px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left:10px solid transparent;
}
.category-item-lv1:hover a::after{
    border-left:10px solid #d03a3a;
    z-index:9
}

.category-item-lv1:hover{
    background:#d03a3a;
}


.category-item-lv1:hover .category-lv2{
    display:grid;
}
.category-lv2{
    background:#fff;
    width:600px;
    display:none;
    grid-template-columns: auto auto auto;
    grid-row-gap:5rem;
    padding:2rem;
    position: absolute;
    top: 0;
    right: -640px;
}
.category-item-lv2{
    color:black
}
.category-item-lv2:hover{
    color:#d03a3a;
    cursor:pointer;
}
/* css for banner */
.banner_intro{
    justify-content:space-betweet
}
.banner_item{
    position: relative;
    margin: 1.2rem 0;
}
.banner_item .img{
    width:94%;
    margin: 0 auto;
    position: relative;
}
.banner_item .border-top{
    position: absolute;
    top:15px;
    left:0;
    width:100%;
    height:2.1px;
    background:#fff;
    transform: scale(0,1);
    transition: .51s;
}
.banner_item .border-bottom{
    position: absolute;
    bottom:15px;
    left:0;
    width:100%;
    height:2.1px;
    background:#fff;
    transform: scale(0,1);
    transition: .51s;
}
.banner_item .border-left{
    position: absolute;
    left:15px;
    top:0;
    width:2.1px;
    height:100%;
    background:#fff;
    transform: scale(1,0);
    transition: .51s;
}
.banner_item .border-right{
    position: absolute;
    right:15px;
    top:0;
    width:2.1px;
    height:100%;
    background:#fff;
    transform: scale(1,0);
    transition: .51s;
}
.banner_item:hover .border-bottom,.banner_item:hover .border-top,
.banner_item:hover .border-right,.banner_item:hover .border-left
{
    transform: scale(1)
}
.banner img{
    width:100%
}
.banner_item img{
    width:100%;
    height: auto;
    display: block;
}

/* css end foer banner */
.category-product-item .img{
    width:100%
}
.category-product-item{
    margin:3rem auto !important;
}
.product-box{
    width: 100%;
}
.category-title-box {
    background: #fff;
    width: 100;
}

.category-title .right h2{
    display:flex;
    align-items: center;
    height:100%;
    color:#575454;
    font-size: 20px;
    font-weight: 500;
    margin-left:6px;
}

.category-title{
    width:100%;
    display:flex !important;
    justify-content:space-between;
    top:0;
    left: 0;


}
.category-title .left{
   
    display:flex;
    align-items: center;
}
.category-title .rigth{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -20px ;
    padding:10px 0
}
.category-title .right-select{
    display:none;
}
.category-title .right li{
    text-align: center;
    padding:0 20px;
}
.border-left{
    border-left:1px solid #dddd
}
.product-item{
    border:1px solid #dddd;
    box-sizing: border-box;
    padding:2rem 1rem;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between
}
.thumb-product img{
    width:100%
}
.thumb-product img
.product-price .price-sale{
    color:#d03a3a;
    font-size:16px
}
.product-price .price-origin{
    text-decoration: line-through;
    margin-left: 10px;
}
.product-name {
    font-weight: 500;
    margin-bottom: 15px ;
}
.product-item:hover .product-name{
    color:#d03a3a;
}
.product-item .thumb-product {
    transition: .5s all;
}
.product-item:hover .thumb-product {
    transform: translateY(-.5rem);
   
}
.product-item .order{
    z-index: 2;
    width:30%;
    display:flex;
    justify-content: space-between;
    padding:10px 25%;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px rgba(53, 50, 50, 0.336);
    position:absolute;
    background:#fff;
    top:130px;
    left:50%;
    transform:translate(-50%,-130px);
    opacity: 0;
    transition:0.3s
}
.product-item .order .icon-order:hover{
    color:#d03a3a;
}
.product-item:hover .order{
   
    transform:translate(-50%,0);
    opacity: 1
}
.sale-off{
    display:flex;
    background:#d03a3a;
    color:#fff;
    justify-content: center;
    align-items:center;
    width:45px;
    height:45px;
    border-radius:100%;
    position: absolute;
    right: 10px;
    z-index: 9;
}

/* css category-v2 */

@media (min-width: 1000px) {
    .category-product-v2{
        display: grid !important;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
}
.category-title-v2{
    display:flex;
    justify-content:space-between;
    border: 1px solid #ebebeb;
    overflow: hidden;
    padding:10px 0
}
#title-mom-baby{
    background:#006666
}
#title-mom-baby::after{
    border-left-color:#006666
}
#title-fashion{
    background:#f8b93e
}
#title-fashion::after{
    border-left-color:#f8b93e
}
#title-heathy{
    background:#ca64c2
}
#title-heathy::after{
    border-left-color:#ca64c2
}
#title-accessory{
    background:#cccc00
}
#title-accessory::after{
    border-left-color:#cccc00
}
.title-category-v2 a {
    color:#fff;
    font-size:22px;
    font-weight: 600;
    padding:16.5px 10px ;
    position: relative;
}
.title-category-v2 a::after{
    content:"";
    border-left: 20px solid;
    border-top: 28.5px solid transparent;
    border-bottom: 28.5px solid transparent;
    position:absolute;
    top:0;
    right:-20px
}

.category-title-v2 .see-more{
    font-size:17px;
    font-weight: 600;
    display:flex;
    align-items: center;
    color:#575454
}
.category-title-v2 .see-more span{
    color:#d03a3a;
    margin:0 10px;
}
.box-product-v2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* FOOOTER */
.txt-center{
    text-align: center;
}
.flex-center{
    display:flex;
    justify-content:between;
    align-items:center;
}
.footer{
    margin:20px 0
}
.top-footer{
    background:#303030;
    padding:2rem 0
}

.subscribe-text-box{
    display:flex !important;
    align-items:center;
}
.subscribe-mail{
    flex:1
}
.box-email-box{
    flex:1
}
.icon-box-media-social{
    margin:0 auto;
}
.icon-email-box{
    background:#d03a3a;
    width:6.6rem;
    height:6.6rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    margin-right: 1rem;
}
.icon-email-box i{
  font-size:28px;
  color:#fff;
}
.subscribe-text h2{
    font-size:18px;
    color:#fff;
    font-weight: 400;
}
.subscribe-text p{
    color:#fff;
    opacity: .4;
    font-weight: 400;
    margin-top:5px
}
.box-email-box{
    position: relative;
}
.input-email-box-sub{
    position: absolute;
    top:50%;
    left:50%;
    box-sizing: border-box;
    width:100%;
    transform: translate(-50%,-50%);
   background:#d03a3a;
   display:flex;
   align-items: center;
   border:2px solid #d03a3a;
  
   
}
.input-email-box-sub input{
    border:none;
    outline:none ;
    padding:12px 5px;
    flex:1;
    border-radius: unset;
    
 }
.btn-subscribe{
    border:none;
    background:transparent;
    color:#fff;
    font-size: 16px;
    text-align:center;
    outline:none
}
.icon-media-social-box{
    display:flex ;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 100%;

}
.icon-media-social-box a{
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:100%;
    color:#fff;
    width:45px;
    height:45px;
    margin-left:.5rem
}
.icon-facebook-bg{
    background:#3b5998;
}
.icon-twitter-bg{
    background:#1da1f2;
}
.icon-youtube-bg{
    background:#e12b28;
}
.icon-instagram-bg{
    background:#c43f77;
}

.footer-bottom-container{
    background:#f7f7f7;
    padding:20px 0
}

/* footer bottom  */
.footer-bottom-title{
    opacity: .9;
    font-weight: 400;
    font-size:1.6rem
}
.footer-bottom-list{
    padding:0   
}
.footer-bottom-item{
    margin-top:1rem
}

/*  cart mega */
.cart{
    position: relative;
}
.cart-list-item{
    padding:0;
    max-height:300px;
    overflow-y: scroll;
}
.cart-list-item::-webkit-scrollbar{
    width:4px;
    background-color: #F5F5F5;
} 
.cart-list-item::-webkit-scrollbar-thumb {
    background: #a90d0d;
}
.cart-item{
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding:10px 40px 10px 20px;
   border-bottom:1px solid #ebebeb;
    position: relative;
}
.remove-cart-item {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; content: "\f057";
    position: absolute;
    top: 5px;
    right:8px
}
.remove-cart-item::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; content: "\f057";
    color:black;
    transition :.1s ease-in-out
}
.remove-cart-item:hover:before {
    color:#d03a3a
}
.cart-avatar-item{
    width:100%
}
.mega-cart{
    width:300px;
    background:#fff;
    box-shadow: 0px 3px 25px 0px rgb(31 38 67 / 10%);
    position:absolute;
    top:40px;
    right:0;
    transform:translateY(-50%) scaleY(0);
    transition: .2s ease-in;
    z-index:-1;
    opacity: 0;
}
.cart:hover .mega-cart{
    transform:translateY(0) scaleY(1);
    z-index:9;
    opacity: 1;
}
.cart-avatar-box{
    flex:4;
    padding:10px
}
.link-cart-item-avatar{
    width:100%;
    display:block
}
.cart-item-name-box{
    flex:8
}
.cart-item-name-box a{
    color:black
} 
.cart-item:hover .cart-item-name-box a{
    color:#d03a3a;
    transition :.1s ease-in-out
}
.cart-avatar-item{
    width:100%
}

.cart-custom-box{
    display:inline-flex;
    padding:0;
    margin:10px 0 0 0;
}
.cart-custom-box input{
    padding:0 !important;
    margin:0 !important;
    outline:unset !important;
    border:unset ;
    border:1px solid #ebebeb;
    width:40px;
    border-radius: unset;
    overflow:unset;
    font-size:18px;
    text-align: center;
}
.btn-minus,.btn-plus{
   outline:none;
   border:none;
   background:#fff;
   border:1px solid #ebebeb;
   border-radius: unset;
   font-size:18px;
}
.price-unit{
    padding-top:10px;
    color:#d03a3a;
    font-weight: 600;
}
.sub-total-price{
    display:flex;
    justify-content:space-between
}
.check-out-cart{
    padding:20px
}
.price-sub-total{   
    color:#d03a3a ;
    font-weight: 600;
}
.btn-check-out{
    background:#d03a3a;
    text-align: center;
    color:#fff;
    font-weight: 600;
    display:block;
    padding:10px;
}
.icon-cart-box{
    position: relative;
    text-align:right
}
.icon-cart-box .count-items-cart{
    position: absolute;
    top: -5px;
    right:  -5px;
    background:#a90d0d;
    padding: 2px;
    border-radius:5px
}




/* modal cart */
.modal-strong{
    color:#d03a3a;
    font-weight: 600;
}
.content-modal-item-box{
    max-height: 291px;
    overflow-y:scroll;
}
.content-modal-item-box::-webkit-scrollbar{
    width:1px
}
.content-modal-item-box::-webkit-scrollbar-thumb{
   background:#d03a3a
}
.content-modal-item-box::-webkit-scrollbar-track {
    background:#ebebeb;
  }

.modal-cart-container{
    position: fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.363);
    height: 100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.modal-cart{
   
    width:950px;
    min-height:570px;
    background:#fff  ;
    padding-bottom:15px
}
.title-modal{
    background:#d03a3a;
    padding:2rem;
    color:#fff;
    position: relative;
}
.title-modal .btn-remove-modal{
    position: absolute;
    right: 10px;
    top:10px;
}
.title-modal p{
    display: flex;
    font-size: 1.6rem;
    align-items: center;
}
.title-modal p::before{
    content:"\f058";
    font-family: 'Font Awesome 5 Free';
    font-size: 3rem;
    font-weight:500;
    margin-right: 1rem;
}
.content-modal-box{
    padding:2rem
}
.title-qty-modal{
    font-size:1.6rem;
    color:#d03a3a
}
.content-modal-title{
    display:flex;
    border:1px solid #ebebeb;
}
.modal-title{
 
    padding:15px;
    color:#333333
}
.col-modal-product{
    width:50%;
    box-sizing: border-box;
    border-right:1px solid #ebebeb;
}
.col-modal-price{
    width:15%;
    box-sizing: border-box;
    border-right:1px solid #ebebeb;
}
.col-modal-qty{
    width:15%;
    box-sizing: border-box;
    border-right:1px solid #ebebeb;
}
.col-modal-total{
    width:20%;
    box-sizing: border-box
}
.content-modal-item{
    display:flex;
    border-left:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
}
.modal-product{
    display:flex;
    align-items:center;
}
.modal-product:hover .modal-name-product-box p{
    color:#d03a3a
}
.modal-product .modal-avatar-product {
    width:100px;
    padding:20px;
}
.modal-product .modal-avatar-product img {
    width:100%
}
.modal-price, .modal-qty, .modal-total{
   position: relative;
  
}
.modal-price span, .modal-qty span, .modal-total span{
    position: absolute;
    top:50%;
    left: 50%;
   transform: translate(-50%,-50%)
 }
 .modal-qty .cart-custom-box{
     margin:0
 }
 .btn-remove-modal-item{
     color:#898989;
     margin-top:10px;
     cursor: pointer;
 }
 .btn-remove-modal-item:hover{
     color:black;
 }
 .total-checkout{
     text-align: right;
 }
 .modal-btn-check-box{
    float:right;
    width:50%;
    display:flex
 }

 .modal-btn-check-box a{
     flex:1
 }
 .btn-modal-continued{
     text-align: center;
     background:#f2f2f2;
     padding:10px;
     margin-right:10px;
     color:#d03a3a;
     transition: .1s ease-in-out;
 }
 .btn-modal-continued:hover{
    color:#fff;
    background:#d03a3a;
    font-weight: bold;
 }
 /* fade in or out */
 .fade.in{
    opacity: 1;
    z-index: 10;
    transition:.2s ease-in-out;
    transform:translateY(0);
}

.fade{
    transform:translateY(-25%);
    opacity: 0;
    z-index: -10;
    transition:.1s ease-in-out
 }

  