
<footer class="footer">
    <div class="top-footer">
        <div class="grid wide row">
            <div class="subscribe-text-box l-4 m-6-m sm-12-m">
                <div class="icon-email-box"> 
                    <i class="far fa-envelope"></i>
                </div>
                <div class="subscribe-text"> 
                    <h2>ĐĂNG KÝ NHẬN TIN</h2>
                    <p>Đăng ký để nhận thông tin khuyến mãi</p>
                </div>
            </div>
           <div class=" m-6-m sm-12-m box-email-box">
                <div class="input-email-box-sub ">
                    <input type="text" placeholder="vui long nhap email cua ban">
                    <button class="btn-subscribe">
                        ĐĂNG KÝ
                    </button>
                </div>
           </div>
           <div class="l-3 m-12-m sm-12-m">
                <div class="icon-media-social-box">
                    <a href="#" class="icon-facebook-bg"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icon-twitter-bg"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="icon-youtube-bg"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="icon-instagram-bg"><i class="fab fa-instagram"></i></a>
                </div>
           </div>
        </div>
    </div>
    <div class="footer-bottom-container"> 
        <div class="footer-bottom wide grid row">
            <div class="footer-bottom-box l-5">
                <h3 class="footer-bottom-title"> SIÊU THỊ TRỰC TUYẾN MEGA MARKET</h3>
                <ul class=" footer-bottom-list">
                    <li class="footer-bottom-item"> 
                        <i class="fas fa-map-marker-alt"></i> 105/7 ,Quoc Lo 1A
                    </li>
                    <li class="footer-bottom-item"> <i class="fas fa-phone"></i> 0334499406 </li>
                    <li class="footer-bottom-item"> <i class="fas fa-at"></i> vanhungvsp@gmail.com </li>
                </ul>
            </div>
            <div class="footer-bottom-box l-3">
                <h3 class="footer-bottom-title"> VỀ CHÚNG TÔI </h3>
                <ul class=" footer-bottom-list">
                    <li class="footer-bottom-item"> Chinh Sach </li>
                    <li class="footer-bottom-item"> Gioi Thieu </li>
                    <li class="footer-bottom-item"> Ve chung toi </li>
                </ul>
            </div>
            <div class="footer-bottom-box l-2">
                <h3 class="footer-bottom-title"> CHÍNH SÁCH </h3>
                <ul class=" footer-bottom-list">
                    <li class="footer-bottom-item"> Chinh Sach </li>
                    <li class="footer-bottom-item"> Gioi Thieu </li>
                    <li class="footer-bottom-item"> Ve chung toi </li>
                </ul>
            </div>
            <div class="footer-bottom-box l-2">
                <h3 class="footer-bottom-title"> HƯỚNG DẪN </h3>
                <ul class=" footer-bottom-list">
                    <li class="footer-bottom-item"> Chinh Sach </li>
                    <li class="footer-bottom-item"> Gioi Thieu </li>
                    <li class="footer-bottom-item"> Ve chung toi </li>
                </ul>
            </div>  
        </div>
    </div>    
</footer>