<header class="header ">
    <div class="welcome grid wide row">
        <div class="welcome-content color-main-header">
             Chào mừng bạn đến với ND Mart
        </div>
        <div class="user">
             <a href="#" class="login color-main-header"> 
                 <i class="fas fa-user-plus"></i>  Đăng nhập 
              </a>
             <a href="#" class="signup color-main-header">
                 <i class="fas fa-sign-in-alt"></i> Đăng ký 
             </a>
        </div>
    </div>
    <div class="line wide grid"></div>
    <div class="midle-header grid wide row">
         
         <div class="logo">
             <img src="/asset/img/logo/logo.png" alt="">
         </div>
         <div class="icon-menu-box l-hide sm-1-m" id="btn-menu">
             <i class="fas fa-bars icon-bars icon-menu"></i> 
         </div>
         <div class="search sm-6-m">
             <input type="text" class="input-search">
             <button class="btn-search"> <i class="fas fa-search"></i> </button>
         </div>
         <div class="cart sm-2-m ">
                 <div class="mega-cart">
                     <div class="top-cart-content">
                         <ul class="cart-list-item">
                             <!-- start item -->
                             <li class="cart-item">
                                 <a href="#remove" class="remove-cart-item"></a>
                                <div class="cart-avatar-box">
                                     <a href="" class="link-cart-item-avatar">
                                         <img src="./asset/img/product/p2.jpg" class="cart-avatar-item" alt="">
                                     </a>
                                </div>
                                 <div class="cart-item-name-box">
                                     <a href="">
                                          Hạt nêm Knorr thịt thăn - xương ống và tủy gói 1.8kg 
                                     </a>
                                     <p class="price-unit">
                                         100.000d
                                     </p>  
                                     <div class="cart-custom-box">
                                         
                                         <button class="btn-minus"> - </button>
                                         <input type="text" class="input-count-cart-item">
                                         <button class="btn-plus"> + </button>
                                     </div>
                                 </div>
                             </li>
                              <!-- end item -->
                              <li class="cart-item">
                                  <a href="#remove" class="remove-cart-item"></a>
                                 <div class="cart-avatar-box">
                                      <a href="" class="link-cart-item-avatar">
                                          <img src="./asset/img/product/p2.jpg" class="cart-avatar-item" alt="">
                                      </a>
                                 </div>
                                  <div class="cart-item-name-box">
                                      <a href="">
                                           Hạt nêm Knorr thịt thăn - xương ống và tủy gói 1.8kg 
                                      </a>
                                      <p class="price-unit">
                                          100.000d
                                      </p>  
                                      <div class="cart-custom-box">
                                          
                                          <button class="btn-minus"> - </button>
                                          <input type="text" class="input-count-cart-item">
                                          <button class="btn-plus"> + </button>
                                      </div>
                                  </div>
                              </li> 
                             <li class="cart-item">
                                 <a href="#remove" class="remove-cart-item"></a>
                                 <div class="cart-avatar-box">
                                      <a href="" class="link-cart-item-avatar">
                                          <img src="./asset/img/product/p2.jpg" class="cart-avatar-item" alt="">
                                      </a>
                                 </div>
                                  <div class="cart-item-name-box">
                                      <a href="">
                                           Hạt nêm Knorr thịt thăn - xương ống và tủy gói 1.8kg 
                                      </a>
                                      <p class="price-unit">
                                          100.000d
                                      </p>  
                                      <div class="cart-custom-box">
                                          <button class="btn-minus"> - </button>
                                          <input type="text" class="input-count-cart-item">
                                          <button class="btn-plus"> + </button>
                                      </div>
                                  </div>
                              </li>      
                         </ul>
                         <div class="check-out-cart"> 
                             <p class="sub-total-price">
                                <span class="title-sub-total"> Tổng tiền tạm tính: </span>
                                <span class="price-sub-total">1400000</span> 
                             </p>
                             <a href="#" class="btn-check-out mt-20">
                                 <span> TIEN HANH THANH TOAN</span>
                             </a>
                         </div>          
                     </div>
                 </div>
            <div class="icon-cart-box">
             <span class="count-items-cart color-main-header">6</span>
             <img src="./asset/img/icon/icon_cart.png" alt="">
            </div>
         </div>
    </div>
</header>
<nav class="top-nav drop up" id="top-nav">
    <ul class="top-bar-menu grid wide row ">
        <li class="category-list m-hide has-mega">
            <span><i class="fas fa-bars icon-bars"></i> Danh Muc San Pham</span>
            <ul class="category-lv1 menu-routing ">
                <li class="category-item-lv1 ">
                    <div><a href="#">Đồ Cũ</a></div>
                    <ul class="category-lv2">
                        <li class="category-item-lv2">Apple</li>
                        <li class="category-item-lv2">SamSung</li>
                        <li class="category-item-lv2">Nokia</li>
                        <li class="category-item-lv2">HTC</li>
                        <li class="category-item-lv2">Vsmart</li>
                        <li class="category-item-lv2">Apple</li>
                        <li class="category-item-lv2">SamSung</li>
                        <li class="category-item-lv2">Nokia</li>
                        <li class="category-item-lv2">HTC</li>
                        <li class="category-item-lv2">Vsmart</li>
                    </ul>
                </li>
                <li class="category-item-lv1 ">
                    <div>
                        <a href="#">Mẹ Và Bé
                        </a>
                    </div>
                    <ul class="category-lv2">
                        <li class="category-item-lv2">Apple</li>
                        <li class="category-item-lv2">SamSung</li>
                        <li class="category-item-lv2">Nokia</li>
                        <li class="category-item-lv2">HTC</li>
                        <li class="category-item-lv2">Vsmart</li>
                        <li class="category-item-lv2">Apple</li>
                        <li class="category-item-lv2">SamSung</li>
                        <li class="category-item-lv2">Nokia</li>
                        <li class="category-item-lv2">HTC</li>
                        <li class="category-item-lv2">Vsmart</li>
                    </ul>
                </li>
                <li class="category-item-lv1 "><a href="#">Điên Thoại</a></li>
                <li class="category-item-lv1 "><a href="#">Thời Trang</a></li>
                <li class="category-item-lv1 "><a href="#">Giải Khát </a></li>
            </ul>
        </li>
        <li class="menu-item ">
            <a href="/" class="top-bar-text">
                Trang Chủ 
            </a>
        </li>
        <li class="menu-item ">
            <a href="#" class="top-bar-text">
            Giới Thiệu
            </a>
        </li>
        <li class="menu-item  has-mega">
            <a href="#" class="top-bar-text">
                Sản Phẩm   <i class="fas fa-caret-down"></i>
            </a>
            <ul class="category-lv1">
                <li class="category-item-lv1 "><a href="#">Đồ Cũ</a></li>
                <li class="category-item-lv1 "><a href="#">Mẹ Và Bé</a></li>
                <li class="category-item-lv1 "><a href="#">Điên Thoại</a></li>
                <li class="category-item-lv1 "><a href="#">Thời Trang</a></li>
                <li class="category-item-lv1 "><a href="#">Giải Khát </a></li>
            </ul>
        </li>
        <li class="menu-item ">
            <a href="#" class="top-bar-text">
            Tin Tức <i class="fas fa-caret-down"></i>
            </a>
        </li>
        <li class="menu-item ">
            <a href="#" class="top-bar-text">
            Liên hệ
            </a>
        </li>
    </ul>
</nav> 